<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
    	<% list.forEach(function(data){ %>
      <li><%= data.id %> : <%= data.task %></li>
      <% }); %>
    </ul>
    <form action="/addTask" methode="get">
    	<input type="text" name="task">
    	<input type="submit">
    </form>
  </body>
</html>
