<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the <%= title %></p>
    <ul>
    <% todolist.forEach(function(element, index){ %>
      <li id="<%= index %>"><i class="fas fa-trash-alt" onclick="deleteTask(this)"></i><%= element %></li>
    <% }); %>
    </ul>
    <h3>Ajouter une tâche</h3>
    <form action="/todo/ajouter" method="post">
        <input type="text" name="newtask">
        <input type="submit" value="Submit">
    </form>
    <script type="text/javascript">
      function deleteTask(element){
        window.location.href = "/todo/supprimer/" + element.parentNode.id;
      }
    </script>
  </body>
</html>
